<a href="https://colab.research.google.com/github/nishusingh11/python-scripting-for-social-science/blob/main/Assignment2_python_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Types Assignment 2020

Name/RedID: Nishu Singh / 826991926

## Part One

For the problems in Part One, assume all the definitions in the next cell, and check your answers by evaluating the next cell and verifying that your answers give the required results.

In [21]:
friends_network = {'susan': {'alex': 8, 'louis': 5, 'plato': 1, 'giuseppe':3},
                   'alex': {'louis': 5, 'susan': 3, 'giuseppe':3},
                   'louis': {'alex': 4, 'plato': 4, },
                   'plato': { 'louis': 8,  'giuseppe':2, 'susan': 2},
                   'giuseppe' : {}
                  }
language_decade_pairs = [ ('50s', 'fortran'), ('60s', 'pascal'), ('70s', 'C'),  ('80s', 'C++'),
                          ('90s', 'java'), ('00s', 'perl'), ('10s', 'python')]
dominant_computer_languages = dict(language_decade_pairs)
awards = ('grammy', 'emmy', 'pulitzer','hugo','baseball_mvp','edgar', 'nobel_prize','oscar')
secret_word = "White House"
personnel_files = [{'name':'Fred Flinstone',
                     'spouse': 'Wilma',
                      'town of residence': 'Bedrock'},
                    {'name':'Barney Rubble',
                     'spouse': 'Betty',
                      'town of residence': 'Bedrock'},
                  ]

In the problems below,  when you are asked to write an expression that "accesses". a particular name, that means your answer should **use** that name.  For if asked:


   Write an expression that accesses `awards` and return the value `'baseball_mvp'`.


You might answer:

```
awards[4]
```

because that is an expression that uses the name `awards` and returns the value
`"baseball_mvp"`, as illustrated in the next cell.

In [22]:
awards[4]    # tuples are ordered collection of element so we can access element by index.  "baseball_mvp" is present at index 4.

'baseball_mvp'

In the next cell, write expression that accesses `awards` and returns the value `"pulitzer"`.

In [23]:
awards[2]    # award is a tuples type oject. tuples are ordered collection of element so we can access element by index.  "pulitzer" is present at index 2.

'pulitzer'

In the next cell, write an expression that accesses `secret_words` and returns the value `"H"
`.

In [24]:
secret_word[6]   # secret_word is string type object, we can access element by index. "H" is present at index 6.

'H'

In the next cell, write an expression that accesses `awards` and produces an `IndexError`.  Try to make the index you use to access `awards` as small as possible.

In [25]:
awards[-9]  # IndexError means code is trying to access the index which is invalid. awards is tuple type object, storing 0-7 elements. At index 8 or -9 we will get index error

IndexError: ignored

In the next cell, write an expression that accesses `awards` and returns `"oscar"`.  There is more than one answer.  See if you can find two.

In [26]:
awards[7]    # award is a tuples type oject. tuples are ordered collection of element so we can access element by index. At index 7 'oscar' is stored

'oscar'

 In the next cell, write an expression that accesses `awards` and returns `"s"`.

In [27]:
awards[4][2]   # By one [] we can get stored string value, using [][] we can access character of string.

's'

Explain what happens  when the following expression is evaluated.  Edit it to be an expression that returns `"n"`.

In [28]:
# awards[6]['n'] Here second subscript must be an index of value that we want to access.
awards[6][0]

'n'

In the next cell, write an expression that accesses `awards[2]` and returns `True`.

In [29]:
if awards[2]:               #  awards is tuple type object. Here we checking whether awards[2] is exists or not. 
    print("True")

True

In the next cell, write an expression that accesses `language_decade_pairs` and raises
a `TypeError`.

In [30]:
element = language_decade_pairs[0][0]    # Here accessing the string value stored in language_decade_pairs[0][0] which is '50's. 
element + 1    # trying to perform addition on string and interger which will give type error.

TypeError: ignored

In the next cell, write an expression that accesses `friends_network` and returns `8`.

In [31]:
friends_network['plato']['louis']  # friends_network nested dictionary, unordered collection of elements. 8 is stored at 2 locations wich are: friends_network['susan']['alex'] and friends_network['plato']['louis']

8

In the next cell, write an expression that accesses `friends_network` and returns `4`.

In [32]:
friends_network['louis']['plato']  # 4 is stored at 2 locations, which are : friends_network['louis']['alex'] and friends_network['louis']['plato']

4

In the next cell, write an expression that accesses `personnel_files` and returns `Barney Rubble`.

In [33]:
personnel_files[1]['name']   # personnel_files is list type object, storing dict type object. 'Barney Rubble' is present at personnel_files[1]['name'], where first [] is index of list and 2'nd [] key which is stored at index 1.

'Barney Rubble'

In the next cell, write an expression that accesses `personnel_files` and returns `"roc"`.

In [34]:
personnel_files[0]['town of residence'][3:-1]  # 3'rd [] is used to slice the value which is mapped by key 'town of residence' stored at index 0.

'roc'

Can you write an expression that sets the first element of `awards` to be `"national_book_award"`.  If not, why not?

You may use the next cell to illustrate your answer.

In [35]:
# awards are declared as tuple, tuples are immutable so we can change the elements of tuples

In the next cell, write an expression that accesses `awards[-2]` and returns `True`.

In [36]:
if awards[-1]:     # cheking whether awards[-1] exists or not.
    print("True")
else:
    print("False")

True

In the next cell, write an expression that accesses `friends_n etwork` and returns 
a dictionary with three keys.

In [37]:
friends_network['plato']    # There are 2 keys which are mapped to dictionary with 3 keys. friends_network['alex'] and friends_network['plato'].

{'giuseppe': 2, 'louis': 8, 'susan': 2}

##       Part Two

Write down expressions to retrieve the given values from the given variables.

1) `'mm'` from `awards`

In [38]:
awards[1][1:-1]   # 1st [] is represent index of awards and 2'nd [] is used to slice the input string.

'mm'

2) `'yth'` from `dominant_computer_languages`

In [39]:
dominant_computer_languages['10s'][1:4]    #  Here 1'st [] represent the key of dominant_computer_languages. 2'nd [] is used to slice the string value mapped with key.

'yth'

3) `'yth'` from `language_decade_pairs`

In [40]:
language_decade_pairs[6][1][1:4]   # language_decade_pairs is tist type object storing the tuples values. 1st [] is used to access the tuple the 2'n [] is used to access the value of tuple and 3rd [] is used to slice the string stored.

'yth'

4) `'mvp'` from `awards`

In [41]:
awards[4][-3:]      # 1st [] is represent index and 2'nd [] is used to slice the input string.

'mvp'

5) `'edr'` from `personnel_files`

In [42]:
personnel_files[0]['town of residence'][1:4]    # personnel_files is list type object, storing dict type object. 1st [] is used to access the dictionary, 2nd[] is used to access the key and 3rd [] is used to access the sliced string stored mapped with the key.

'edr'